h1{
    color: red;
}
form{
    padding: 5px;
    border: 1px solid green;
    width: 400px;
}
form div label{
    margin-right: 20px;
    border: 1px solid green;
    width: 400px;
}
form div input{
    font-family: cursive;
}